JIRA_BASE_URL="https://xxx.atlassian.net"
JIRA_USER="xxx@email.com"
JIRA_API_TOKEN="xxx-xxx=xxx"
JIRA_JQL="project = Development AND issuetype in (Story, Task, Bug, Sub-Task) order by created DESC"
JIRA_PAGE_SIZE=50
GH_USER="xxx@email.com"
GH_PASSWORD="xxx"
GH_OWNER="xxx"
GH_REPO="xxx"
GH_PROJECT_V2_ID="xxx"
GH_PROJECT_V2_STATUS_FIELD_ID="xxx-gM"
GH_PROJECT_V2_PRIORITY_FIELD_ID="xxx-kM"
GH_DEFAULT_PRIORITY_OPTION="xxx"
GH_TOKEN="github_pat_xxx"
GH_USER_TOKENS='{
  "user1":"ghp_user2Token",
  "user2":"ghp_user2Token",
  "user3":"ghp_user3Token",
  "user4":"ghp_user2Token",
}'