JIRA_BASE_URL="https://xxx.atlassian.net"
JIRA_USER="xxx@email.com"
JIRA_API_TOKEN="xxx-xxx=xxx"
JIRA_JQL="project = Development AND issuetype in (Story, Task, Bug, Sub-Task) order by created DESC"
JIRA_PAGE_SIZE=50
GH_USER="xxx@email.com"
GH_PASSWORD="xxx"
GH_2FA_SECRET="xxx"
GH_OWNER="xxx"
GH_REPO="xxx"
GH_PROJECT_V2_ID="xxx"
GH_PROJECT_V2_STATUS_FIELD_ID="xxx-gM"
GH_PROJECT_V2_PRIORITY_FIELD_ID="xxx-kM"
GH_DEFAULT_PRIORITY_OPTION="xxx"
GH_TOKEN="github_pat_xxx"
GH_USER_TOKENS='{
  "ghuser1":"ghp_user2Token",
  "ghuser2":"ghp_user2Token",
  "ghuser3":"ghp_user3Token",
  "ghuser4":"ghp_user2Token"
}'
JIRA_GH_USER_MAP='{
  "jruuid1": "ghuser1",
  "jruuid2": "ghuser2",
  "jruuid3": "ghuser3",
  "jruuid4": "ghuser4"
}'
JIRA_GH_ISSUE_TYPE_MAP='{
  "Bug": "Code",
  "Sub-task": "Code"
}'
JIRA_GH_STATUS_OPTION_MAP='{
  "Backlog": "xxx",
  "Selected for Dev": "xxx",
  "In Progress": "xxx",
  "Testing": "xxx",
  "Done": "xxx"
}'
JIRA_GH_PRIORITY_OPTION_MAP='{
  "Highest": "xxx",
  "High": "xxx"
}'
